<div class="sp_header">
	<%= link_to "投稿", { :controller => :posts, :action => :new }, :class=>'no_deco' %>
	<%= link_to "MENU", { :controller => :posts, :action => :menu }, :class=>'no_deco' %>
</div>

<div class="show_area">
	<% @posts.each do |post| %>
		<div class="maru col1" style="">
			 <div class="letter3"><%= post.name %></div>
		</div>
		<div class="col2">
			<ul>
			<li><%= link_to post.title, '/posts/'+post.id.to_s, :class=>'title' %></li>
			<li class="detail"><%= post.message %></li>
			<div style="display:flex; justify-content:space-between;"
			<li class="sub" style="margin-right:10px;"><%= distance_of_time_in_words_to_now(post.created_at) %></li>
			<li class="sub" style="float:left; margin-right:10px;">投稿者名：<%= post.name %> </li>
			</ul>
		</div>
		<div class="col3"><hr/></div>
	<% end %>
</div>

<!-- 
<div class="input_form">
	<label for="input_area">▽ 新規投稿する ▽</label>
	<input type="checkbox" id="input_area" />

	<div class="input_area">
		<%= form_for Post.new,:url => { :action => :create } do |f| %>
			<%= f.text_field :title, placeholder: 'タイトル' %><br/>
			<%= f.text_field :message, placeholder: '本文' %><br/>
			<%= f.hidden_field :user_id, value: @current_user.id %>
			<%= f.hidden_field :name, value: @current_user.name %>
			<%= f.hidden_field :board_id, value: 0 %>
			<%= f.submit "作成する" %>
		<% end %>
	</div>
</div>


<hr/>

-->