<div class="sp_header">
	<%= link_to "< 戻る", { :controller => :posts, :action => :index }, :class=>'no_deco' %>
</div>

<div style="text-align: center;background-color:white;">

<br/>
<%= link_to "NEEDを投稿する", { :controller => :posts, :action => :new }, :class=>'no_deco2' %><br/><br/>

<%= link_to "HELPの一覧を見る", { :controller => :posts, :action => :index }, :class=>'no_deco2' %><br/><br/>

<%= link_to "ログアウト", { :controller => :sessions, :action => :destroy }, :class=>'no_deco2' %><br/><br/>

<%= link_to "閉じる", { :controller => :posts, :action => :index }, :class=>'no_deco2' %><br/><br/>


<br/>
<p style="font-size:20px;">運営への連絡はこちら ↓</p>
<a href="http://nav.cx/6lfHkmG"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>

</div>